<assembly xmlns="http://maven.apache.org/ASSEMBLY/2.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/ASSEMBLY/2.0.0 http://maven.apache.org/xsd/assembly-2.0.0.xsd">

    <id>app</id>
    <formats>
        <format>dir</format>
    </formats>
    <includeBaseDirectory>false</includeBaseDirectory>

    <files>
        <file>
            <source>${project.build.directory}/${.project.build.finalName}.jar</source>
            <destName>run-oddjob.jar</destName>
        </file>
    </files>
    <fileSets>
        <fileSet>
            <directory>src/main/bin</directory>
            <outputDirectory>bin</outputDirectory>
        </fileSet>
        <fileSet>
            <directory>src/main/opt</directory>
            <outputDirectory>opt</outputDirectory>
        </fileSet>
        <fileSet>
            <directory>${project.basedir}/../oddjob</directory>
            <outputDirectory>./</outputDirectory>
            <includes>
                <include>RELEASE_NOTES.txt</include>
                <include>README.md</include>
                <include>LICENSE.txt</include>
                <include>NOTICE.txt</include>
                <include>oddjob.xml</include>
                <include>explorer.xml</include>
            </includes>
        </fileSet>
    </fileSets>
    <dependencySets>
        <dependencySet>
            <outputDirectory>lib</outputDirectory>
            <includes>
                <include>uk.co.rgordon:oddjob</include>
                <include>ch.qos.logback:logback-classic</include>
            </includes>
            <useTransitiveDependencies>true</useTransitiveDependencies>
            <useTransitiveFiltering>true</useTransitiveFiltering>
        </dependencySet>
    </dependencySets>

</assembly>